<form class="example-form">
  <mat-form-field style="width: 100%;">
    <input
      type="text"
      placeholder="Pick one"
      matInput
      [formControl]="locationControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" style="width: 100%;">
      <mat-option
        *ngFor="let location of locationSuggestions | async"
        [value]="location.description"
      >
        {{ location.description }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [formControl]="pickupControl"
  >
    <mat-radio-button
      class="example-radio-button"
      [value]="true"
    ></mat-radio-button
    ><span>Pickup</span>
    <mat-radio-button
      class="example-radio-button"
      [value]="false"
    ></mat-radio-button
    ><span>Dropoff</span>
  </mat-radio-group>

  <button mat-raised-button color="primary" (click)="(add)" [disabled]="!locationControl.value">Add location</button>
</form>

<!-- <form>
  <mat-form-field>
    <input
      matInput
      placeholder="Location"
      aria-label="Location"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let location of suggestedLocations"
        [value]="location.description"
      >
        <span>{{ location.description }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->
