<div class="container">
  <form>
    <div class="row">
      <div class="col">
        <app-autocomplete
          placeholder="Pickup"
          [googleAutocompleteService]="autocompleteService"
          [formControl]="pickupLocationControl"
        ></app-autocomplete>
      </div>
      <div class="col">
        <app-autocomplete
          placeholder="Dropoff"
          [googleAutocompleteService]="autocompleteService"
          [formControl]="dropoffLocationControl"
        ></app-autocomplete>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-end">
          <button
            mat-raised-button
            color="primary"
            (click)="addTask()"
            [disabled]="
              !pickupLocationControl.value || !dropoffLocationControl.value
            "
          >
            Add location
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="container resulst">
  <div class="row">
    <div class="col-4">
      <h4>Tasks</h4>

      <div
        cdkDropList
        class="dragable-list"
        (cdkDropListDropped)="drop($event)"
        *ngIf="tasks.length"
      >
        <div
          class="dragable-box"
          *ngFor="let task of tasks; let i = index"
          cdkDrag
        >
          <span>{{ task.isPickup ? "Pickup" : "Dropoff" }}</span>
          |
          <span>{{ task.location }}</span>

          <button (click)="removeLocation(task.taskId)">Delete</button>
        </div>
      </div>

      <p *ngIf="!tasks.length" class="text-secondary">No tasks</p>
    </div>
    <div class="col-8">
      <h4>Directions</h4>
      <div id="map" [hidden]="mapHidden"></div>
      <p [hidden]="!mapHidden" class="text-secondary">No routes</p>
    </div>
  </div>
</div>
